*, ::after, ::before {
    box-sizing: border-box;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    overflow: auto;
    resize: vertical;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea.form-control {
    height: auto;
}

.md-form .form-control {
    margin: 0 0 0.5rem 0;
    border-radius: 0;
    padding: 0.6rem 0 0.4rem 0;
    background-color: transparent;
    height: auto;
}

.md-form input:not([type]), .md-form input[type=text]:not(.browser-default), .md-form input[type=password]:not(.browser-default), .md-form input[type=email]:not(.browser-default), .md-form input[type=url]:not(.browser-default), .md-form input[type=time]:not(.browser-default), .md-form input[type=date]:not(.browser-default), .md-form input[type=datetime]:not(.browser-default), .md-form input[type=datetime-local]:not(.browser-default), .md-form input[type=tel]:not(.browser-default), .md-form input[type=number]:not(.browser-default), .md-form input[type=search]:not(.browser-default), .md-form input[type=search-md], .md-form textarea.md-textarea {
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.md-form textarea.md-textarea {
    overflow-y: hidden;
    padding: 1.5rem 0;
    resize: none;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.pt-1, .py-1 {
    padding-top: 0.25rem !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}

.form-row > .col, .form-row > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.fade {
    transition: opacity .15s linear;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.pt-3, .py-3 {
    padding-top: 1rem !important;
}

.card {
    font-weight: 400;
    border: 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);
}

.tab-content {
    padding: 1rem;
    padding-top: 2rem;
}

.md-form {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.pt-0, .py-0 {
    padding-top: 0px !important;
}
/* @media all and (min-width:992px) */
.pr-lg-5, .px-lg-5 {
    padding-right: 3rem !important;
}
/* @media all and (min-width:992px) */
.pl-lg-5, .px-lg-5 {
    padding-left: 3rem !important;
}

.card.card-cascade.narrower {
    margin-top: 1.25rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* @media all and (min-width:576px) */
.container {
    max-width: 540px;
}
/* @media all and (min-width:768px) */
.container {
    max-width: 720px;
}
/* @media all and (min-width:992px) */
.container {
    max-width: 960px;
}
/* @media all and (min-width:1200px) */
.container {
    max-width: 1140px;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}
/* @media all and (min-width:992px) */
.mb-lg-1, .my-lg-1 {
    margin-bottom: 0.25rem !important;
}

.mt-3, .my-3 {
    margin-top: 1rem !important;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
/* @media all and (min-width:992px) */
.mb-lg-3, .my-lg-3 {
    margin-bottom: 1rem !important;
}

.client-logo-margin {
    margin-top: 100px;
}
/* @media only screen and (min-width:1440px) */
.side-nav-margin {
    margin-left: 15rem;
}

#main-content {
    min-height: 88vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 140px;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #222;
    background-color: #fcfcfc;
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

body {
    position: relative;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --blue: #007bff:;
    --indigo: #6610f2:;
    --purple: #6f42c1:;
    --pink: #e83e8c:;
    --red: #dc3545:;
    --orange: #fd7e14:;
    --yellow: #ffc107:;
    --green: #28a745:;
    --teal: #20c997:;
    --cyan: #17a2b8:;
    --white: #fff:;
    --gray: #6c757d:;
    --gray-dark: #343a40:;
    --primary: #007bff:;
    --secondary: #6c757d:;
    --success: #28a745:;
    --info: #17a2b8:;
    --warning: #ffc107:;
    --danger: #dc3545:;
    --light: #f8f9fa:;
    --dark: #343a40:;
    --breakpoint-xs: 0:;
    --breakpoint-sm: 576px:;
    --breakpoint-md: 768px:;
    --breakpoint-lg: 992px:;
    --breakpoint-xl: 1200px:;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji":;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace:;
}
